<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body class="splash">
    <form class="wrapper" action="/restaurants/all">
      <input class="button" type="submit" value="MakerYelp">
    </form>
  </body>
</html>
