
<h1> Your Restaurants </h1>
<ls> <%@restaurants.each do |restaurant| %>
  <div id="restaurants">
    <ul>
      <h2>  <%=restaurant.name%>  </h2>
      <p>   <%=restaurant.description%> </p>
      <p>   <%=restaurant.location%> </p>
      <div class="actions">
        <%= link_to("Edit", {action: "edit", id: restaurant.id}, class: "action edit") %>
        <%end%>
      </ul>
    </ls>
