<h1 class="headings"> Your Local Restaurants </h1>

<ul> <% @restaurants.each do |restaurant| %>
  <ls>
    <h2> <%= restaurant.name %> </h2>
    <p> <%= restaurant.description %> </p>
    <p> <%= restaurant.location %> </p>
    <form action="/review/new" method="get">
      <input type="submit" value="Write Review">
      <input type="hidden" name="restaurant" value="<%=restaurant.id %>" >
    </form>
</ls>
  <% end %>
</ul>
