.headings {
  text-align: center;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.restaurants {
  margin-top: 30px;
}

h2 {
  padding: 0px;
  margin-top: 0px;

}
